<style>
  form label {
    display: block;
    margin: 20px;
  }
  label input:not([type=checkbox]) {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 5px;
  }
  button {
    height: 40px;
    line-height: 40px;
    width: 100px;
  }
</style>
<div>
  <form action="/oauth2/authorize" method="GET">
    <label for="username">
      <input type="text" name="username" placeholder="username">
    </label>
    <label for="password">
      <input type="password" name="password" placeholder="password">
    </label>
    <label for="allowed">
        <input type="checkbox" name="allowed" checked> authorize to visit my personal info
    </label>
    <input type="hidden" name="response_type" value=<%= query.response_type %>>
    <input type="hidden" name="client_id" value=<%= query.client_id %>>
    <input type="hidden" name="redirect_uri" value=<%= query.redirect_uri %>>
    <input type="hidden" name="state" value=<%= query.state %>>
    <button type="submit">Authorize</button>
  </form>
</div>